body{
    height: 100vh;
    background-size: cover;
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}
#loginform{
    margin-top: 10%;
    width: 33%;
    height: 33%;
    margin-left: 33%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color:rgba(255, 255, 255,0.5) ;

}


h1{
    text-align: center;
}

label{
    margin-left: 20%;
    
}

a{
    text-decoration: none;
    display: block;
    margin-top: 40px;
    }