body{
    background-size: cover;
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#parts{
     margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    background-color:rgba(255, 255, 255,0.5) ;

}

h1{
    text-align: center;
}

nav{
    background-color:rgba(255, 255, 255,0.5) ;
    height: 20%;
    width: 100%;
}

a{
    display: inline;
    text-align: center;
    

}