#gamearea div {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  margin: 0%;
  border-radius: 20px;
  color: red;
  backdrop-filter: 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
  background-color:rgba(255, 255, 255, 0.164) ;
}
#gamearea {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 15px;
  padding: 3px;
  background-color: rgba(255, 255, 255,0.5);
}
#container{
    width: 40%;
    
}
body {
  margin: 0px;
  min-height: 100vh;
}
.rejtett {
  visibility: hidden;
}
#szamlalo {
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  display: grid;
  align-items: center;
  font-family: 'Wellfleet', monospace;
}
#gombid {
  display: grid;
  justify-content: center;
  
}
#start {
  border-color: black;
  border-radius: 15px;
  height: 50px;
  width: 100px;
  background-color: rgb(66, 82, 95);
  color: aliceblue;
}
#score {
  color: aliceblue;
  font-family: 'Wellfleet', monospace;
}